# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django-related
db.sqlite3
*.log

# Environment files
.env

# Virtual environment folders
venv/
env/
.venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Static and media files
staticfiles/
media/

# Migrations (optional, if not version-controlled)
*/migrations/*.py
!*/migrations/__init__.py
